<%provide(:title, 'About')%>
<div data-role="content">
	<p><b>TIRED OF FORGETTING TO BRING PEN AND PAPER AT THE GYM? DON'T WORRY! AN ALTERNATIVE SOLUTION IS HERE.</b></p>
	
	<p>FitPlanner is a progress tracking application for beginners at the gym. This application allows users to enter sets, reps and weight for each workout they complete. Users can view their progress by viewing their history. FitPlanner can be accessed with mobile devices and desktop computers. So, now you don't need to worry about bringing pen and paper to gym.  </p>
	
</div>