
<%provide(:title, 'Exercise')%>

<br/>

<div data-role = "content">
  <ul data-role="listview" data-theme = "b" data-filter="true" data-filter-placeholder="Search exercises..." data-inset="true">
    
    <% @exercises.each do |exercise| %>
      <li><a href="/exercises/<%=exercise.id%>/"><%= exercise.title %></a></li>         
    <% end %>
    
  </ul>

</div>


